<h1>Page d'accueil</h1>


		<%= form_tag('users/create')%>
    	    
<br/>
		<a>Entrez votre mail</a>
		<%= text_field_tag 'email'%>
<br/>			

      <a>Entrez votre mot de passe</a>
		<%= text_field_tag 'password'%>
		<%= submit_tag%> 

<br/>
<br/>

<a href="/secret">Pour accéder à la page secret</a>		

